body {
  padding: 13rem;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.container {
  background-color: yellow;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  border-radius: 4px;
  align-items: center;
  border: 3px solid aliceblue;
}
.avatar {
  max-width: 100px;
  height: auto;
}
.side {
  background-color: aliceblue;
  padding: 1rem;
  margin-left: 4px;
  border: 3px solid yellow;
}
